################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gRPC_nonDocker/gRPC_nonDocker.sln
